body {
  background-color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2 {
  color: darkorange;
  text-align: center;
}

p {
  color: #444;
  font-size: 18px;
}

a {
  color: orchid;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-transform: uppercase;
}

@media (max-width: 576px) {
  h2 {
    font-size: 28px;
  }

  p, a {
    font-size: 16px;
  }
}
